.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid var(--neutral-gray-medium);
    margin-bottom: 1rem;
}

.tab {
    max-height: min-content;
    color: var(--neutral-gray-dark);
    padding-inline: 0.25rem;
    padding-block: 0.75rem;
    word-wrap: break-word;
    max-width: 33.3%;
    font-weight: var(--fw-700);
}

.tab:first-child {
    margin-left: auto;
}

.tab:last-child {
    margin-right: auto;
}

@media screen and (min-width: 48em) {
    .tabs {
        align-items: center;
    }

    .tab {
        width: fit-content;
        padding-inline: 2rem;
        padding-block: 1rem;
    }
}